*{
    box-sizing: border-box;
}
body>.criarPTitulo{
    font-family: Roboto;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin: 36px 0;
}
.areaPerguntas{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.pergunta{
    width:100%;
    padding: 27px 16px 0 16px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}
.pergunta>*>*{
    margin-bottom: 14px;
}
.pergunta>.titulo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.pergunta>*{
    margin-bottom: 14px;
}
.pergunta>div:not(.titulo){
    display:none;
}
.pergunta>div{
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.pergunta input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
::placeholder{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #BABABA;
}
button{
    background-color: #EC362D;
    width: 352.82px;
    height: 54px;
    margin:auto;
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    color: #FFF5F4;
    border-radius: 15px;
    border-style: none;
}
body {
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: #E5E5E5;
}

.fixed_top_bar {
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 37px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.all_content_page {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content_adjust {
    width: 1050px;
    
}

.create_quizz {

    height: 180px;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create_quizz p {
    font-weight: 400;
    font-size: 20px;
    color: #B9B9B9;
}

.create_quizz_buttom {
    margin-top: 20px;
    background-color: #FAFAFA;
    color: #EC362D;
    border: 1px dashed #EC362D;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 400;
}