* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #FAFAFA;
}



body>.criarPTitulo{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin: 36px 0;
    margin-top: 106px;
}
.area{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pergunta{
    width:100%;
    padding: 27px 16px 0 16px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}
.nivel{
    width:100%;
    padding: 27px 16px 0 16px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}
.create{
    width:100%;
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}
.pergunta>*>*{
    margin-bottom: 14px;
}
.nivel>*>*{
    margin-bottom: 14px;
}
.create>*{
    margin-bottom: 14px;
}
.pergunta>.titulo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.nivel>.titulo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.pergunta>*{
    margin-bottom: 14px;
}
.pergunta>div:not(.titulo){
    display:none;
}
.pergunta>div{
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.pergunta input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
.nivel>*{
    margin-bottom: 14px;
}
.nivel>div:not(.titulo){
    display:none;
}
.nivel>div{
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.nivel input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
.create input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
::placeholder{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #BABABA;
}
button{
    background-color: #EC362D;
    width: 352.82px;
    height: 54px;
    margin:auto;
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    color: #FFF5F4;
    border-radius: 15px;
    border-style: none;
}
.button2{
    background-color: transparent;
    color: #818181;
}

.fixed_top_bar {
    width: 100%;
    height: 70px;
    z-index: 5;
    background-color: #EC362D;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 37px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.all_content_page {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content_adjust {
    width: 1050px;
    
}

.create_quizz {

    height: 180px;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create_quizz p {
    font-weight: 400;
    font-size: 20px;
    color: #B9B9B9;
}

.create_quizz_buttom {
    margin-top: 20px;
    background-color: #FAFAFA;
    color: #EC362D;
    border: 1px dashed #EC362D;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 400;
}

.all_quizzes {
    margin-top: 70px;
}

.all_quizzes p {
    font-weight: 700;
    font-size: 20px;
}

.quizzes {
    margin-top: 15px;
    width: 1070px;
    display: flex;
    flex-wrap: wrap;
}

.quizz {
    height: 180px;
    width: 340px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-bottom: 15px;

    border-radius: 5px;
    background-color: blue;
}

/*Falar com o Gabriel a respeito*/

.gradient {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 40%, rgba(0,0,0,1) 100%);
}

.img_quiz {
    height: 180px;
    width: 340px;
    border-radius: 5px;
}

.text_quizz {
    position: absolute;
    bottom: 10px;
    left: 13px;
}

.text_quizz p {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
}

